/* Color stuff for "light" scheme */

QListView:focus, QTableView:focus {
    border: 2px solid #424e72;
}

QPushButton[flat=true] {
    color: white;
    border-radius: 7;
    padding: 1px;
    padding-left: 1px;
    padding-right: 1px;
}

QPushButton[flat=true]:checked {
    background-color: qradialgradient(spread:pad, cx:0.5, cy:0.5, 
                                      radius:0.6, fx:0.502, fy:0.500876, 
                                      stop:0.8 rgba(243, 132, 26, 255), 
                                      stop:1 rgba(255, 255, 255, 0));
}

QPushButton[flat=true]:pressed{
    background-color: qradialgradient(spread:pad, cx:0.5, cy:0.5, 
                                      radius:0.50, fx:0.502, fy:0.500876, 
                                      stop:0.7 rgba(243, 132, 26, 255), 
                                      stop:1 rgba(255, 255, 255, 0));
}

/* This seems to be useful on win10 where it the default makes the search
 match text barely visible (just changes the background to a pale grey,
 almost invisible either against the white or grey backgrounds). */
QWebView { 
    selection-background-color: blue;
    selection-color: white;
}
